 /* Created by Sakindu*/
 @import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lobster&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
 @import url(' https://fonts.googleapis.com/css?family=Great+Vibes|Ubuntu|Sacramento');
 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
 html {
     scroll-behavior: smooth;
 }
 
 body {
     margin: 0;
     padding: 0;
     background: #f012be;
     background-size: cover;
     background-position: center;
     min-height: 100vh;
     font-family: Handlee;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
 }
 
 .container {
     padding: 20px;
     box-sizing: border-box;
     width: 100%;
     min-height: 100vh;
     padding-bottom: 50px;
     background: #fffafa;
     position: relative;
     z-index: 1;
     box-shadow: 0 20px 20px #0000ff;
     
    
 }
 
 .card {
     background: #f5fffa;
     width: 100%;
     height:190px;
     maxheight:190px;
     display: flex;
     justify-content: space-between;
     border-radius: 5px;
     box-shadow: 0 1px 3px #252525;
     overflow: hidden;
     margin-bottom: 50px;
 }
 
 .title {
     font-size: 25px;
     margin: 15px;
     width: calc(100%-20px);
     word-break: nowrap;
     overflow: hidden;
     
     white-space: nowrap;
     font-family:Lobster;
 }
 
 img {
     border-radius: 0 5px 5px 0;
     padding: 0px;
     height: 100%;
     minwidth:40px;
     maxwidth:80px;
 }
 
 .author {
     margin: 0 0 0 15px;
     font-family:Handlee;
     color: #252525;
     width: calc(100%-20px);
     word-break: nowrap;
     text-overflow: scroll;
     white-space: nowrap;
     text-overflow: handlee;
     font-size: 21px;
 }
 .mtext{
     background-color:rgb(255, 26, 117,0.8);
     padding:15px;
     border-radius:5px;
     box-shadow: 0 0 7px 10px rgba(133, 72, 115,0.8);
     text-align:center;
 
 }
 .control {
     width: 100%;
     text-align: center;
     margin-bottom: 10px;
 }
 
 .panel {
     width: calc(100% - 150px);
 }
 
 .image img {
     width: 150px;
     min-height: 100%;
     object-fit: cover;
     line-height: 0;
 }
 
 .panel button {
     background: transparent;
     border: none;
     outline: none;
     color: #000;
 }
 
 .panel .playbtn {
     transform: scale(1.5);
     text-align: center;
     cursor:pointer;
 }
 
 .control {
     margin: 40px 0 20px 0px;
     cursor:pointer;
 }
 
 .banner {
     width: 100%;
     height: 270px;
     background: url(https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=60);
     background-size: cover;
     background-position: center;
     z-index: 0;
     position: sticky;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: Orbitron;
 }
 
 #nav {
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 3;
     transition: 0.5s;
     backdrop-filter: blur(0px);
     
 }
 
 .icon {
     width: 60px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     background:rgb(255, 26, 117,0.7);
 }

 
 
 .div {
     color: #fff;
     text-shadow: -6px -2px 4px #000,5px 1px 5px #000;
     width:60%;
     background:rgb(255, 26, 117,0.7);
     font-size: 50px;
     font-family:Handlee;
     text-align:center;
     border-radius:15px;
     box-shadow:0 0 20px 3px #000;
     letter-spacing:-1px;
     height:70px;
     animation:high 1s ease-in 0.3s;
 }
 @keyframes high{
    0%{opacity:0.2; transform:rotate(0deg);}
    50%{ opacity:0.7; transform:rotate(180deg);}
    100%{ opacity:1; transform:rotate(360deg);}   
 }
 
 
 .heart {
     animation: beat 1s linear infinite;
     display: inline-block;
 }
 
 @keyframes beat {
     0% {
         transform: translateY(-5px) scale(0.8) translateX(1px);
     }
     50% {
         transform: translateY(5px) scale(1.1) translateX(0);
     }
     100% {
         transform: translateY(0px) scale(0.9) translateX(-1px);
     }
 }
 
 .searchbar {
     width: 100%;
     height: 70px;
     background: #fff;
     display: flex;
     position: fixed;
     top: 0;
     right: -100%;
     z-index: 4;
     transition: 0.5s;
 
 }
 .searchbar > div{
     margin-right:10px;
 }
 .icon {
     min-width: 60px;
     transform:translate(5px,6px);
     height:60px;
     background:rgb(255, 26, 117,0.7);
     box-shadow:0 0 7px 3px #000;
     border-radius:10px;
     cursor:pointer;
 }
 
 .back {
     color: #252525;
 }
 
 #inp {
     border: none;
     outline: none;
     width: 100%;
 }
 
 .con {
     color: #000;
 }
 
 .d {
     font-size: 1em;
     padding: 10px;
 }
 
 .heart {
     animation: beat 1s linear infinite;
     display: inline-block;
 }
 
 a {
     text-decoration: none;
     
 }
 
 @keyframes beat {
     0% {
         transform: translateY(-5px) scale(0.8) translateX(1px);
     }
     50% {
         transform: translateY(5px) scale(1.1) translateX(0);
     }
     100% {
         transform: translateY(0px) scale(0.9) translateX(-1px);
     }
 }
 
 .loadingmusic {
     position: fixed;
     left: 0;
     bottom: 0;
     z-index: 7;
     background: #0000ff;
     color: #ffff00;
     width: 100%;
     height: 30px;
     transform: scaleY(0);
     transition: 0.5s;
     transform-origin: bottom;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .loader div:nth-child(1) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0s;
     -webkit-animation-iteration-count: infinite;
     transition: 1s;
 }
 
 .loader div:nth-child(2) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.08s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.08s;
     -webkit-animation-iteration-count: infinite;
     transition: 1s;
 }
 
 .loader div:nth-child(3) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.16s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.16s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 8s;
 }
 
 .loader div:nth-child(4) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.24s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.24s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 4s;
 }
 
 .loader div:nth-child(5) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.32s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.32s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 3s;
 }
 
 .loader div:nth-child(6) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.40s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.40s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 2s;
 }
 
 .loader div:nth-child(7) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.48s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.48s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 1s;
 }
 
 .loader div:nth-child(8) {
     animation-name: colorchange;
     animation-duration: 1s;
     animation-delay: 0.56s;
     animation-iteration-count: infinite;
     -webkit-animation-name: colorchange;
     -webkit-animation-duration: 1s;
     -webkit-animation-delay: 0.56s;
     -webkit-animation-iteration-count: infinite;
     -webkit-transition: 0.1s;
 }
 
 @keyframes colorchange {
     0% {
         background: #07CFD4;
     }
     50% {
         background: #fff;
     }
     100% {
         background: #07CFD4;
     }
 }
 
 @-webkit-keyframes colorchange {
     0% {
         background: #07CFD4;
     }
     50% {
         background: #fff;
     }
     100% {
         background: #07CFD4;
     }
 }
 
 .loader div {
     width: 10px;
     height: 10px;
     background: #07CFD4;
     border-radius: 0px;
     float: right;
 }
 
 .drop {
     width: 250px;
     height: 100vh;
     background:rgb(255, 26, 117,0.8);
     box-shadow: 0 0 10px #0009;
     display: flex;
     justify-content:center;
     align-items: center;
     position: fixed;
     top: 0;
     left: -300px;
     z-index: 8;
     transition: 0.5s;
 }
 
 .fa-times {
     position: absolute;
     top: 0;
     right: 0;
     padding: 20px;
     font-size: 20px;
     color: #000;
     height:25px;
     width:25px;
     border-radius:40px;
     box-shadow: 0 0 5px 2px rgba(133, 72, 115,0.8);
     text-align: center;
     margin: 10px 10px 0 0;
     cursor:pointer;
 }
 
 .preloader {
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 10;
     background: #f5f5f5;
 }
 
 .loaders {
     width: 35px;
     height: 35px;
     border-top: 4px solid #07CFD4;
     border-bottom: 4px solid #07CFD4;
     border-left: 4px solid #07CFD4;
     border-right: 4px solid transparent;
     border-radius: 100px;
     animation: load 3s linear infinite;
 }
 
 y @keyframes load {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(3600deg);
     }
 }
 
 @-webkit-keyframes load {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(3600deg);
     }
 }
 .search{
     transform:translate(-5px,6px);
 
 }
 
 .code {
     color: #f012be;
 }
 
 .darkmode {
     background-color: rgb(128, 0, 64);
     color: #fafafa;
 }
 
 .darkmode>div {
     background-color:rgb(230, 0, 115,0.6);
     
     box-shadow: 0 0 10px 4px #000;
     text-shadow: 0px 0px 3px #000;
     border-radius: 5px;
     margin-right: 5px;
     margin-left: 5px;
     color:#fafafa;
 }
 .home{
     transform:translateY(5px) scale(1,1);
 }
 
 a:active {
     text-decoration: none;
     color: white;
 }
 
 .img-circle {
     left: 50px;
 }
 
 #darkmode {
     text-decoration: none;
     background-color:lightseagreen;
     color:#fafafa;
     font-size: 20px;
     font-family: Righteous;
     border-radius:5px;
     width:auto;
     display: inline-block;
     padding: 6px 5px 6px 5px;
     margin-bottom: 17px;
     cursor:pointer;
 }
 .imgdark{
     border-radius: 0 5px 5px 0;
     padding:0;
     height:100%;
 }
 
 .format{
     backdrop-filter: blur(3px);
     border-radius: 18px 18px 0 0;
     color:thistle;
     margin:6px 0 6px 0;
     padding: 10px;
     background-color: rgb(255, 26, 117,0.7);
     cursor:pointer;
 }
 .nav > a{
     text-decoration: none;
     color:white;
     font-family: Righteous;
     background-size: 35px 50px;
     transition:0.1s;
     border:none;
     margin:10px 0 10px 0;
     font-size: 30px;
     padding:5px 10px 5px 10px;
     background-color: rgb(255, 26, 117,0.7);
 }
 .nav > a:hover{
     color:darkred;
     border-bottom: 2px solid darkred;
     box-shadow: 0 0 6px 2px #000;
     background-color: white;
     border-radius:3px;
     margin:10px 0 10px 0;
     padding:5px 17px 5px 17px;
 }
 .eight{
     border-bottom:2px solid white;
 }
 .nav-btn{
     text-decoration: none;
     background-color:lightseagreen;
     color:#fafafa;
     font-size: 20px;
     font-family: Handlee;
     border-radius:5px;
     width:auto;
     display: inline-block;
     padding: 6px 5px 6px 5px;
     margin-bottom: 17px;
     cursor:pointer;
 }
 .nav-btn > a{
     color:#fafafa;
 }
 .support{
     background-color: rgb(255, 26, 117,0.7);
     position: absolute;
     z-index:1;
     box-sizing: border-box;
     width:100%;
     padding-left: 20px;
     text-align: center;
 }
 
 
#disqus_thread{
     width:80%;
     top:100px;
     
}
 
